:root {
    --donation-modal-height: 350px;
    --donation-modal-width: 600px;
    --donation-modal-top: 30%;
}

#donate {
    text-decoration-line: underline;
}

#donate:hover {
    cursor: pointer;
}

.modal {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: var(--donation-modal-top) 0;
}

.modal .card {
    margin: auto;
    width: var(--donation-modal-width);
    opacity: 1;
}

.refer-area {
    text-decoration-line: underline;
}

@media screen and (max-width: 700px) {
    :root {
        --donation-modal-height: 350px;
        --donation-modal-width: 600px;
        --donation-modal-top: 50%;
    }
    
    .modal .card {
        vertical-align: middle;
        height: var(--donation-modal-height);
        width: 80%;
        height: 40%;
        opacity: 1;
    }

    .modal {
        display: none;
        position: absolute;
        margin: auto;
        height: 150%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
}