:root {
    --donation-modal-height: 200px;
    --donation-modal-width: 600px;
    --donation-modal-top: 50%;
}

#donate {
    text-decoration-line: underline;
}

#donate:hover {
    cursor: pointer;
}

#donateModal {
    display: none;
}

.modal {
    top: 0;
    right: 0;
    position: absolute;
    margin: auto;
    height: 100vh;
    width: 100%;
}

.modal .card {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: var(--donation-modal-height);
    width: var(--donation-modal-width);
    max-width: 100%;
}

.refer-area {
    text-decoration-line: underline;
}

@media screen and (max-width: 700px) {
    :root {
        --donation-modal-height: 350px;
        --donation-modal-width: 600px;
        --donation-modal-top: 50%;
    }

    .modal .card {
        vertical-align: middle;
        width: 80%;
        opacity: 1;
    }

    .modal {
        position: absolute;
        margin: auto;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    html,
    body {
        height: 100% !important;
    }
}