:root {
  --main-padding: 15px;
  --main-margin: 10px;
  --main-img-size: 150px;
  --main-bio-size: 200px;
  --main-bio-margin: 5px;
  --main-icon-width: 80px;
  --main-border-radius: 5px;
  --padding-big: 20px;
  --padding-small: 5px;
  --main-container-width: 750px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #1a1b1e;
    --main-ac-color: #202225;
    --main-txt-color: #a6ced6;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --main-ac-color: #fff;
    --main-txt-color: #000;
  }
}

body {
  font-family: 'Exo', sans-serif;
  margin: auto;
  color: var(--main-txt-color);
  text-align: center;
  background: var(--main-bg-color);
}

a {
  color: var(--main-txt-color);
  text-decoration-line: none;
}

footer {
  padding-bottom: 5px;
}

footer a {
  color: var(--main-txt-color);
  text-decoration-line: underline;
}

html {
  background: var(--main-bg-color);
}

/* Slide */
.bio {
  font-style: normal;
  font-weight: 900;
  padding: var(--main-padding);
}

.grid-container {
  margin: var(--main-margin);
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
}

.grid-item {
  width: var(--main-bio-size);
  margin-left: var(--main-padding);
  background: var(--main-bg-color);
  cursor: pointer;
  border-radius: var(--main-border-radius);
}

.grid-item h1,
.grid-item-start h1 {
  margin: var(--main-bio-margin);
}

.grid-item-start {
  grid-row-start: 1;
  grid-row-end: 8;
}

.bio table .right {
  cursor: pointer;
  border-radius: var(--main-border-radius);
  background: var(--main-bg-color);
}

/* End Slide */

.social {
  border: 0;
  margin: auto;
}

.project {
  position: relative;
}

.project img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.project:hover img {
  opacity: 0.3
}

.project:hover p {
  opacity: 1.0
}

.project p {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, 128px);
  justify-content: space-between;
}

.portfolio-done {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  /*   margin-bottom: 2em; */
}

.portfolio-done-item {
  height: 128px;
}

.social a {
  border: 0;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
  background-color: var(--main-ac-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.hidden {
  display: none;
}

ul.nav li {
  float: right;
}

ul.nav li a {
  display: block;
  color: white;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: #111;
}

ul.nav li a.active {
  background-color: #2F3136;
}

ul.nav li.left {
  float: left;
}

.card-projects {
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: var(--main-ac-color);
}

.card-projects:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon-area i {
  justify-content: space-between;
  width: var(--main-icon-width);
  background: var(--main-bg-color);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  border-radius: var(--main-border-radius);
}

.icon-area i:hover {
  cursor: pointer;
  background: var(--main-ac-color);
}

.icon-area a {
  color: var(--main-txt-color);
}

.card {
  margin-top: var(--main-padding);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: var(--main-ac-color);
  padding: var(--main-padding);
  text-align: center;
  color: var(--main-txt-color);
}

.nomargin {
  margin: 0;
}

.short_desc {
  border-top: 1px solid grey;
  padding: var(--main-padding);
  border-bottom: 1px solid grey;
  width: 60%;
  margin: auto;
}

.profile img {
  margin: auto;
  max-width: var(--main-img-size);
  border-radius: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  margin: auto;
  width: var(--main-container-width);
}

.media-body {
  color: var(--main-txt-color) !important;
  margin-bottom: 10px;
}

.table {
  color: var(--main-txt-color) !important;
  font-weight: lighter;
}

@media screen and (max-width: 700px) {
  :root {
    --mobile-margin: 5px;
    --main-container-width: 95%;
    --mobile-width: 90%;
  }

  ul.nav li.right,
  ul.nav li {
    float: none;
  }

  ul.nav li.left {
    display: none;
  }

  .portfolio-done {
    grid-template-columns: auto;
    justify-content: initial;
    width: 100%;
  }

  .portfolio-done-item {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .icon-area i {
    margin-top: var(--mobile-margin);
  }

  .short_desc {
    width: var(--mobile-width);
  }

  footer {
    width: var(--main-container-width);
  }
}
